*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  outline: none;
  border: none;
  outline-offset: 0;
}

/* NiceGui reset */
button.btn {
  padding: 0;
  min-height: auto;
  flex-direction: row;
  font-weight: unset;
  vertical-align: unset;
  border-radius: 0;
  font-size: inherit;
  line-height: 100%;
  text-transform: capitalize;
}

.q-field__control:after {
  content: none;
}

*::before,
*::after {
  content: none !important;
}

.row {
  height: auto;
}

.q-field__native,
.q-field__control {
  min-height: unset !important;
}

/* Full screen position fixed */
.q-body--fullscreen-mixin,
.q-body--prevent-scroll {
  position: relative !important;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

[class^="q-"] {
  line-height: 100% !important;
  padding: 0;
}

img {
  pointer-events: none;
}

.q-focusable:focus > .q-focus-helper,
.q-hoverable:hover > .q-focus-helper,
.q-manual-focusable--focused > .q-focus-helper {
  background: none !important;
}
