@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --nicegui-default-padding: 30px;
}

body {
  background: #18191f !important;
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 16px;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
}

.main__inner {
  width: 100%;
  max-width: 850px;
}

/* Settings */
.settings {
  width: 100%;
  color: #fff;
  user-select: none;
  gap: 20px;
}

.settings__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  width: 100%;
}

/* Link */
.link {
  width: 100%;
}

.link input {
  color: #fff;
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
}

.link input::placeholder {
  color: #5b6b84;
  opacity: 1; /* Firefox */
}

/* Is playlist */
.is-playlist {
  margin-left: -9px;
}

.is-playlist .q-checkbox__bg {
  border: 1.4px solid #fff;
}

/* Quality */
.quality .range__wrapper {
  align-items: center;
  flex-wrap: nowrap;
}

.quality .range {
  width: 250px;
}

.quality .range .q-slider__inner {
  background: #fff;
}

@media only screen and (max-width: 550px) {
  .quality {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .quality .range__wrapper {
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    column-gap: 30px;
    row-gap: 5px;
  }

  .quality .range {
    width: 100%;
  }
}

/* Format */
.media-format {
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 2px;
  padding: 10px 15px;
  line-height: 100% !important;
  cursor: pointer;
}

.media-format .q-field__append {
  display: none;
}

.media-format span {
  color: #fff !important;
  font-size: 16px;
}

/* Format select dialog */
.q-select__dialog label .q-field__control {
  padding: 10px 20px;
}
.q-select__dialog .q-item {
  padding: 0 20px;
}

/* Path */
.path {
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 2px;
  padding: 10px 15px;
  line-height: 100% !important;
  cursor: pointer;
}

/* Button */
button.btn {
  background: linear-gradient(
    90deg,
    rgba(71, 69, 152, 1) 0%,
    rgba(119, 115, 254, 1) 100%
  ) !important;
  color: #fff !important;
  padding: 10px 32px;
  border-radius: 5px;
}

/* Log area */
.log-area {
  padding: 10px;
  outline: none;
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 5px;
  color: #5b6b84;
  height: 120px;
  user-select: auto;
}
