@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --nicegui-default-padding: 30px;
}

body {
  background: #18191f !important;
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 16px;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
}

.main__inner {
  width: 100%;
  max-width: 850px;
}

/* Settings */
.settings {
  width: 100%;
  color: #fff;
  user-select: none;
  gap: 20px;
}

.settings__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  width: 100%;
}

/* Link */
.link {
  width: 100%;
}

.link input {
  color: #fff;
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
}

.link input::placeholder {
  color: #5b6b84;
  opacity: 1; /* Firefox */
}

/* Is playlist */
.is-playlist {
  margin-left: -9px;
}

.is-playlist .q-checkbox__bg {
  border: 1.4px solid #fff;
}

.is-playlist.disable {
  cursor: not-allowed;
  opacity: 0.6;
}

.is-playlist.disable .checkbox {
  pointer-events: none;
}

/* Format */
.media-format {
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 5px;
  line-height: 100% !important;
  cursor: pointer;
}

.media-format .q-btn {
  padding: 4px 16px;
  text-transform: capitalize;
}

.media-format span {
  color: #fff !important;
  line-height: 100% !important;
  font-size: 16px;
}

/* Format select dialog */
.q-select__dialog label .q-field__control {
  padding: 10px 20px;
}
.q-select__dialog .q-item {
  padding: 0 20px;
}

/* Path */
.path {
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 2px;
  padding: 10px 15px;
  line-height: 100% !important;
  cursor: pointer;
}

.path input {
  color: #fff;
  font-size: 16px;
}

/* Buttons */
.buttons {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

/* Button */
button.btn {
  background: linear-gradient(
    90deg,
    rgba(71, 69, 152, 1) 0%,
    rgba(119, 115, 254, 1) 100%
  ) !important;
  color: #fff !important;
  padding: 10px 32px;
  border-radius: 5px;
}

/* Advanced settings button */
.btn.advanced-settings {
  color: #fff;
  gap: 10px;
  cursor: pointer;
  background: none !important;
  padding: 0;
  border-radius: 0;
}

.advanced-settings .q-ripple {
  display: none;
}

.advanced-settings__icon {
  height: 20px;
  width: 20px;
}

/* Log area */
.log-area {
  padding: 10px;
  outline: none;
  border: 1px solid #2b2f3b;
  background: #1f222a;
  border-radius: 5px;
  color: #5b6b84;
  height: 160px;
  user-select: auto;
  resize: vertical;
  overflow-x: clip;
}

.log-area div {
  word-break: break-all;
  white-space: pre-line;
}

.log-area::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.log-area::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.log-area::-webkit-scrollbar-thumb {
  background: linear-gradient(
    150deg,
    rgba(71, 69, 152, 1) 0%,
    rgba(119, 115, 254, 1) 100%
  );
}

/* Progress bar */
.progress-bar__wrapper {
  width: 100%;
  justify-content: flex-end;
  position: relative;
  margin-top: 10px;
}

.progress-bar {
  height: 24px;
  border-radius: 2px;
  background: #fff;
}

.progress-bar .q-linear-progress__model {
  background: linear-gradient(
    150deg,
    rgba(71, 69, 152, 1) 0%,
    rgba(119, 115, 254, 1) 100%
  );
  transition: 2s;
}

.progress-bar__wrapper .current-song-label {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -25px;
  right: 3px;
}
